# Simple Build Tool
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
log

# ensime related
.ensime
ensime-langserver.log
pc.stdout.log
.ensime_cache